// About Page - Leadership Section
#about-leadership {
  background-color: $theme-gray;

  .text-underline::after {
    border-color: white;
  }

  #briefcase-wrap {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin: auto 5% auto auto;
    background-color: lightgrey;
    border-radius: 100px;

    .briefcase-icon {
      width: 200px;
      height: 200px;
      padding: 30px;
      overflow: visible;

      .briefcase-outer-container {
        transform: translate(187px, -280px) rotate(-50deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .briefcase-outer-handle-container {
        transform: translate(180px, -236px) rotate(-50deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .briefcase-inner-container {
        transform: translate(227px, 128px) rotate(0deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .plus-container {
        transform: translate(-147px, -147px) rotate(-45deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }
      /*hover styles*/
      &:hover {
        .briefcase-outer-container {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .briefcase-inner-container {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .plus-container {
          transform: translate(0px, 0px) rotate(0deg);
        }
      }
    }
  }

  #federal-wrap {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin: auto 5% auto auto;
    background-color: lightgrey;
    border-radius: 100px;

    .federal-icon {
      width: 200px;
      height: 200px;
      padding: 5px;
      overflow: visible;

      .white-star-1 {
        transform: translate(-48px, 0px) rotate(-360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-2 {
        transform: translate(-60px, -20px) rotate(-360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-3 {
        transform: translate(-70px, -20px) rotate(-360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-4 {
        transform: translate(-60px, -50px) rotate(-360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-5 {
        transform: translate(-90px, -60px) rotate(-360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-6 {
        transform: translate(0px, -70px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-7 {
        transform: translate(90px, -60px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-8 {
        transform: translate(60px, -50px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-9 {
        transform: translate(70px, -20px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-10 {
        transform: translate(60px, -20px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .white-star-11 {
        transform: translate(48px, 0px) rotate(360deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      .capitol-grey {
        transform: translate(0px, 200px) rotate(180deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      &:hover {
        .capitol-grey {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-1 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-2 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-3 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-4 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-5 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-6 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-7 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-8 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-9 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-10 {
          transform: translate(0px, 0px) rotate(0deg);
        }

        .white-star-11 {
          transform: translate(0px, 0px) rotate(0deg);
        }
      }
    }
  }

  #computer-wrap {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin: auto 5% auto auto;
    background-color: lightgrey;
    border-radius: 100px;

    .computer-icon {
      width: 210px;
      height: 195px;
      padding: 7px;
      margin-top: 9px;
      overflow: visible;

      #computer-mask-container {
        transform: translate(0px, 0px) rotate(0deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      #laptop-container {
        transform: translate(0px, 400px) rotate(-90deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      #ipad-container {
        transform: translate(-150px, -200px) rotate(180deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      #iphone-container {
        transform: translate(150px, -200px) rotate(180deg);
        transform-origin: center center;
        transition: all 0.5s ease;
      }

      &:hover {
        #laptop-container {
          transform: translate(0px, 0px) rotate(0deg);
        }

        #ipad-container {
          transform: translate(0px, 0px) rotate(0deg);
        }

        #iphone-container {
          transform: translate(0px, 0px) rotate(0deg);
        }
      }
    }
  }
}
