// Container Settings
$container-large-desktop: 1250px !important;

// Grid Settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$theme-orange:    #31586D;
$theme-yellow:    #640710;
$background-gray: #EAEAEA;

$theme-gray: rgba(18, 20, 31, 1);
$theme-blue: rgba(28, 31, 48, 1);
$theme-gray-light: rgba(48, 51, 66, 1);
$theme-gray-lighter: rgba(69, 71, 85, 1);
$theme-gray-lightest: rgba(110, 112, 123, 1);
